/*Header*/
.navigation-ul{
	display: flex;
	text-decoration: none;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin:0 auto;
}
.header{
	background-color: black;
	padding:10px 0;
}
.navigation-li{
	margin-right:15px;
	font-family: 'Fredoka One', cursive;   
}
.navigation-li:last-child{
	margin-right: 0;
}
.navigation-a{
	font-size: 17px;
	color: #FFFFFF;
}
.active{
	font-size: 17px;
	color: #f0c513;
}
.logo{
	width: 65px;
}

/*banner*/
.relative{
	position: relative;
}
.text{
	font-size: 100px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.best{
	background-color: black;
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	color: #f0c513;
	text-align: center;
}

/*Images*/
.clothes{
	margin: 50px 0;
}
.image{
	width: 180px;	
}
.price{
	color:#9a9a9a;
	font-family: 'Rubik', sans-serif;
}
.product{
	color:#575153;
	margin:10px 0;
	font-family: 'Rubik', sans-serif;
}
.photos{
	margin:100px 0 40px 0;
}
/*footer*/
.footer{
	background: #f0c513;
	padding: 10px 0;
}
.social{
	text-align: center;
}
.social-li{
	display: inline-block;
	margin-right:10px;
}
.social-icon{
	border: solid #000000 1px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    padding-top: 10px;
    color: #f0c513;
    background: black;      
}

/*about-page2*/
.about{
	margin-top: 100px;
}
.text-in-about{	
	max-width: 420px;
	width:100%;
	margin:auto;	
}
.text-in-about2{	
	max-width: 460px;
	width: 100%;
	margin:auto;	
}
.about-text1{
	color: #F9C402;
	background-color: black;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;	
	padding:8px;		
}
.h3{
	font-size: 30px;
	color: #505050;
	text-align: center;
	padding-top: 20px;	
}

/*About-box*/
.about-box1{
	margin:100px 0 40px 0;
}
.crop{
	width: 380px;
}
.a-text{
	font-size: 18px;
	color: #505050;
	line-height: 1.2;
}
.paragraph{
	margin-left: 100px;
}


/*Product View*/
.clickProductView{
	margin:100px 0 40px 0;
}
.product-view{
	display: flex;
	margin-top: 100px;
}
.image-view{
	max-width:500px;
	width:100%;
}
.design1{
	font-size:13px; 
	color:#575153;
	font-weight: bold;
	text-transform: uppercase;
}
.design{
	margin-top: 10px;
}
.design2{
	color:#8c8c8c; 
	font-size:15px;
}
.price-view{
	color:#9a9a9a;
	font-size: 30px;
	margin: 40px 0;
}
.description{
	font-size: 18px;
	color: #575153;
	text-transform: uppercase;
}
.desctiption-ul{
	list-style-type: circle;
}
.text-about-product{
	margin-left:40px;
}
.text-description{
	font-size: 15px;
	color: #a8a7a7;
	margin-top:40px;
}
.desctiption-ul{
	margin-top:30px;
}
.buttons{
	display: flex;
	margin-top: 60px;
}
.button1 {
  border: 1px solid #737373;
  color: #454647;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
  background:#fff;
  transition: all .2s linear .2s;
}
.button1:hover{
	color: #F9C402;
	background-color: black;
}
.mg-right{
	margin-right:20px;
}
.fa-shopping-cart{
	margin-right:5px;
}
.about-product{
	color:#8c8c8c;
	font-size: 15px;
	margin-top: 20px;
}
.description-title{
	font-size: 22px;
	color:#575153;
	margin-top: 40px;
	text-transform: uppercase;
}
.text-inabout{
	max-width: 450px;
	width: 100%;
	margin:auto;	

}
/*form*/
.info{
	
	width: 230px;
	font-size: 20px; 
	padding-top: 23px;
}
.social-icon-form{
	border: solid #000000 1px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    padding-top: 10px;
    color: #ffffff;
    background: black;
}
.social-form-bg{
	margin-top: 30px;
	text-align: center;
}
.left-box{
	margin-left: 100px;
	font-family: 'Rubik', sans-serif;
}
.right-box{
	margin-right: 160px;
	margin-left: 30px;
	font-family: 'Rubik', sans-serif;
	padding-top: 23px;
}
.form-bg{
	padding-bottom: 300px;
	padding-top: 100px;
}
.add{
	font-size: 25px;
}
.address{
	margin-bottom: 20px;
}
.tel{
	margin-bottom: 20px;

}
.f-text{
	font-size: 13px;
	color: #666666;
}
.form-text{
	font-size: 17px;
	color: #666666;
		
}
.form-wrapper{
	display: flex;
}
.input{
	background: transparent;
	width: 450px;
	height: 30px;
	border: 2px solid black;
	margin-bottom: 10px;
}
.input::placeholder{
	color: #262626;
	font-size: 15px;
	padding-left: 10px;
	font-family: 'Rubik', sans-serif;
}
.send{
	width: 100px;
	background-color: #F9C402;
	font-size: 18px;
	margin-left: 350px;
	font-family: 'Rubik', sans-serif;
}
.label{
	padding-bottom: 6px;
	font-size: 20px;
	font-family: 'Rubik', sans-serif;

}
.form-box{
	margin-left: 29px;
	padding-bottom: 29px;
}
.form-class{
	display: flex;
	flex-direction: column;
}
.form-group{
	display: flex;
	flex-direction: column;
}
/*faq*/
.faq-box{
	padding-top: 60px;
	padding-left: 20px; 
	padding-bottom: 100px;

}
.faq-small-text{
	font-size: 30px;
	color: #262626;
	font-family: 'Rubik', sans-serif;
}
.paragraph{
	margin-left: 90px;
	margin-right: 100px;
	margin-top: 45px;
}
.paragraph-text{
	font-family: 'Rubik', sans-serif;
	width: 1100px;
	margin-top: 10px;
	color: #666666;
}
.f-name{
	margin-top: 100px;
}
.text-in-faq{	
	max-width: 420px;
	width:100%;
	margin:auto;	
}
.text-in-faq2{	
	max-width: 200px;
	width: 100%;
	margin:auto;
}	
.faq-name{
	color: #F9C402;
	background-color: black;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;	
	padding:8px;		
}
.thank{
	font-size: 25px;
	padding-left: 90px;
	padding-top: 40px;
	font-family: 'Roboto', sans-serif;
}
/*Media-Responisve*/
@media(max-width: 1125px){
	.container{
		padding:0 15px;
	}
}
@media(max-width:972px){
	.buttons{
		flex-direction: column;
	}
	.mg-right{
	margin-right:0;
    }
}
@media(max-width:917px){
	.product-view{
		flex-direction: column;
		align-items: center;
	}
}
@media(max-width: 853px){
	.about-box{
		flex-direction: column;
	}
	.paragraph{
		margin-top: 40px;
	    margin-left: 0;
	}
}
@media(max-width:753px){
	.photos{
		flex-direction: column;
	}
	.text{
	font-size: 60px;
}
@media(max-width:496px){
    .about-text1{
	font-size: 40px;
}
@media(max-width:395px){
    .text{
	font-size: 40px;
}
